/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

/* Specific List Styles */
ul {
	list-style-type: disc;
	/* Use 'disc' for traditional bullet points */
	margin-left: 20px;
	/* Adjust as needed for your design */
}

body {
	line-height: 1.5;
	color: var(--tertiary-color);
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	line-height: calc(1em + 0.5rem);
}

:root {
	--primary-color: #c0c0c0;
	--secondary-color: #191970;
	--tertiary-color: #000000;
	--color-block-text: #00bfff;
	isolation: isolate;
}

#__next {
	isolation: isolate;
}

/* Path: christineBaxterPortfolio\assets\css\resume.css */
header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 20px;
	background-color: transparent;
	background-image: url("../imgs/dataAnalyticsBackGround.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-position: center;
	z-index: 9999;
}

.sticky {
	/* Styles for the sticky header */
	position: sticky;
	top: 0;
}

header .contactInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	text-shadow: 0 0 10px var(--tertiary-color)(0, 0, 0, 0.5);
}

header .contactInfo .headerLine {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	text-shadow: 0 0 10px var(--tertiary-color)(0, 0, 0, 0.5);
	margin-top: 6px;
}

header .contactInfo .headerLine .myName {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0;
	padding: 5px;
	font-size: .75rem;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset;
	border-radius: 15px;

	& h2 {
		width: 100%;
		height: auto;
		align-items: center;
		justify-content: center;
	}

		& h2 a {
			text-decoration: none;
			color: var(--primary-color);
		}

			& a:hover {
				background: var(--secondary-color);
				color: var(--primary-color);
				border: var(--color-block-text) solid 3px;
				border-width: 3px;
				border-radius: 15px;
				transform: scale3d(1.1, 1, 0.5);
			}
}

header .contactInfo .headerLine .icon {
	display: none;
}

header .contactInfo .contactInfo-body {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	text-shadow: 0 0 10px var(--tertiary-color)(0, 0, 0, 0.5);
	margin-top: 6px;

	& div {
			margin: 5px;			
			padding: 0px 6px;
	}

	& a {
		color: var(--primary-color);
		text-decoration: none;
	}

	& a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 2px;
		border-radius: 4px;
		transform: scale3d(1.1, 1, 0.5);
	}
}

header .topnav {
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 5px;
	width: 100%;

	& div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 5px;
		align-items: center;
		padding: 0px 5px;
	}

	& a {
		font-weight: lighter;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		height: auto;
		width: 125px;
		box-shadow: inset;
		background: var(--tertiary-color);
		color: var(--primary-color);
		border:#191970 solid 3px;
		border-radius: 15px;
		text-align: center;
		padding: 6px 8px;
		text-decoration: none;
	}

	& #myDownload {
		width: 165px;
	}

	& a[data-hs-anchor="true"] {
		display: block;
		position: relative;
		visibility: hidden;
		top: -150px;
	}

	& a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 3px;
		transform: scale3d(1.1, 1, 0.5);
	}

	& a.activeNav {
		text-decoration: none;
		background-color: var(--color-block-text);
		color: var(--tertiary-color);
		align-content: center;
	}
}

header .contact-position {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	text-shadow: 0 0 10px var(--tertiary-color)(0, 0, 0, 0.5);
	margin-top: 6px;

	& .icon {
			display: none;
		}

	& div {
			margin: 5px;			
			padding: 0px 6px;
	}

	& a {
		color: var(--primary-color);
		text-decoration: none;
	}

	& a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 2px;
		border-radius: 4px;
		transform: scale3d(1.1, 1, 0.5);
	}
}

#resume-link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;

	& .default-text {
		position: absolute;
		left: 0px;
		top: 0px;
		text-align: center;
		border-radius: 4px;
		transition: opacity 0.3s;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#resume-link .hover-text {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	font-size: smaller;
	text-align: center;
	color: var(--primary-color);
	border-radius: 4px;
	transition: opacity 0.3s;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#resume-link:hover .default-text {
	opacity: 0;
	text-align: center;
}

#resume-link:hover .hover-text {
	opacity: 1;
	text-align: center;
}

header nav {

	display: flex;
	align-content: center;

	& ul {
		display: flex;
		list-style: none;
		padding: 5px;
		justify-content: space-between;
	}

	& ul li {
		padding: 0 2px;
		height: auto;
		display: flex;
		align-items: center;
	}

	& ul li a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 5px;
		width: 105px;
		white-space: normal;
		min-height: 35px;
		line-height: 1.2;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		box-shadow: inset;
		background: var(--primary-color);
		color: var(--secondary-color);
		border-radius: 15px;
		text-decoration: none;
	}

	& ul li a[data-hs-anchor="true"] {
		display: block;
		position: relative;
		visibility: hidden;
		top: -150px;
	}

	& ul li a[data-hs-anchor="true"]:target {
		visibility: visible;
		top: 0;
	}

	& ul li a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 3px;
		transform: scale3d(1.1, 1, 0.5);
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: .25rem;
	flex: 1;
}

/* Hero Style Start */
.hero {
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
	background-image: url("../images/dataAnalyticsBackGround.jpeg");
	background-size: cover;
	background-position: center;
	align-items: flex-start;
	background-attachment: fixed;
	background-position: 80%;
	background-color: var(--color-block-text);
}

.hero-subtitle {
	width: 100%;
	text-align: center;
	margin: 0.25%;
	line-height: 2;
}

.hero-subtitle h2 {
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-color: var(--color-block-text);
	font-size: 20px;
}
/* Hero Style End */

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: var(--primary-color);
	padding: 10px 5px;

	& hr {
		width: 100%;
		height: 5px;
		background: var(--secondary-color);
		background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color), var(--secondary-color));
	}

	& .footer-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-size: x-small;
	
		& .leftFooter {
			margin: 0;
			line-height: 1.5;
			text-align: left;
		}

		& .leftFooter img {
			display: inline-block;
		}

		& .centerFooter {
			text-align: center;
		}

		& h2 {
			color: var(--secondary-color);
			text-align: left;
			margin: 0;
		}

		& .rightFooter {
			text-align: right;
		}


		& a {
			color: var(--secondary-color);
			text-decoration: none;
		}

		& a:hover {
			background: var(--secondary-color);
			color: var(--primary-color);
			border: var(--color-block-text) solid 3px;
			border-width: 2px;
			border-radius: 4px;
			transform: scale3d(1.3, 1, 0.5);
		}
	}
}


section {
	padding: 5px;
}

.content {
	background: var(--primary-color);
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
}

.content .sectionTitle {
	background: var(--color-block-text);

	& h2 {
		display: flex;
		text-align: left;
		justify-content: stretch;
		font-size: xx-large;
		padding-right: 10px;
		margin: 0;
		padding: 10px;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		box-shadow: inset;
		background-color: var(--color-block-text);
		border-radius: 5px;
	}
}

.content .sectionBody {
	background: var(--primary-color);
	display: flex;
	justify-content: space-evenly;
	align-items: top;

	& img {
		max-width: unset;
		height: 228px;
		width: 194px;
		padding-right: 10px;
	}

	& img:hover {
		transform: scale3d(1.1, 1, 0.5);
	}

	& p {
		text-align: left;
		margin: 0;
	}

	& h3 {
		padding-top: 15px;
	}

	&.degree-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 50px;
		/* Optional: adds some space between your grid items */
	}
}

.project-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr auto);
	gap: 10px 25px;
	/* Optional: adds some space between your grid items */
}

.summaryText {
	display: flex;
	align-items: center;

	& p {
		font-size: larger;
	}
}

.degLine1,
.degLine2 {
	font-weight: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.degDate {
	font-weight: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.skills {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;

	& .skillsSoft div {
		padding-left: 24px;
	}
}

.col {
	display: flex;
	flex-flow: column nowrap;
}

.projectLinks {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.jobTitle,
.jobRole {
	font-weight: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.jobBody h4 {
	padding-top: 10px;
}

.projectBody.project-container {
	margin: 0;
	padding: 1ch;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	display: block;
	background-color: var(--primary-color);
	color: var(--tertiary-color);
	cursor: pointer;
	padding: 12px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: larger;
	font-weight: bold;
}

/* Style the collapsible content. Note: hidden by default */
.projectBody.project-container {
	font-size: large;
	padding: 0 12px;
	display: none;
	overflow: hidden;
	background-color: var(--primary-color);
	border-bottom: #191970 solid 3px;
	border-left: #191970 solid 3px;
	border-right: #191970 solid 3px;
}

.collapsible:after {
	content: "\02795";
	/* Unicode character for "plus" sign (+) */
	font-size: large;
	color: var(--primary-color);
	float: left;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
	/* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

/* Styling for the hamburger icon */
.hamburger-menu {
	display: none;
	/* Hide by default */
	flex-direction: column;
	gap: 5px;
}

.bar {
	width: 25px;
	height: 3px;
	background: var(--primary-color);
}

/* Styling for the mobile navigation menu */
.mobile-nav {
	display: none;
	/* Hide by default */
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	/* Adjust as needed */
	height: 100%;
	background: var(--primary-color);
	overflow-y: scroll;
}

.mobile-nav.active {
	display: flex;
	/* Show when active */
}

@media screen and (max-width: 768px) {
	header .contactInfo {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

		header .contactInfo .headerLine {
			text-align: center;
		}

		header .contactInfo .headerLine .icon {
			display: flex;
		}

		header .contactInfo .contactInfo-body {
			flex-wrap: wrap;
		}

	header h2 {
		width: 48%;
	}

	header nav {
		width: 48%;
		gap: .25rem;
	}

	header nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}

	header nav ul li {
		padding: 5px;
		text-align: center;
		font-size: larger;
	}
}

@media screen and (max-width: 575px) {
	header .contactInfo {
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
	}

	header .contactInfo .contactInfo-body {
		display: none;
	}

	header h2,
	header nav {
		width: 100%;
	}

	header nav ul {
		justify-content: center;
		/* font-size: smaller; */
	}

	header nav ul li {
		width: 100%;
		padding: 5px;
		text-align: center;
		flex-direction: column;
		align-items: center;
	}

	header .contact-position {
		flex-direction: column;
		align-items: center;
	}

	header .contact-position a {
		width: 100%;
		text-align: center;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px),
(max-width: 350px) {

	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 48
	}

	header div.contactInfo-body {
		display: none;
	}

	header div.headerLine {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		margin-bottom: 5px;

		& .myName {
			border-radius: 10px 0px 0px 10px;
		}

		& h2 {
			font-size: 1.75rem;
		}

		& .icon {
			display: flex;
			width: 30px;
			background: var(--color-block-text);
			justify-content: center;
			align-self: stretch;
			align-items: center;
			border-radius: 0 10px 10px 0px;
			border-left: var(--tertiary-color) 1px solid;
			font-weight: bold;
			padding: 5px;
			font-size: 18px;
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		}
	}

	header .topnav {
		justify-content: center;
	}

	header .topnav div {
		display: none;
	}

	header .topnav.responsive div {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		gap: .5rem;
		justify-items: center;
		align-items: center;
		text-align: center;
	}

	.sectionTitle,
	section,
	.content {
		justify-content: center;
		font-size: medium;
		width: 100%;
		padding: 5px;
		grid-template-columns: 2;
		gap: 5px;
	}

	.qrCode {
		display: none;
	}

	.skills {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;

		& div {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}

		& div .sectionTitle {
			justify-content: flex-start;
		}
	}

	.project-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
	}
	
	section .sectionBody .summaryText p {
		text-align: center;
	}

	.degree-container {
		grid-template-columns: 0.25fr;
	}
}
