
        :root {
            --primary-color: #c0c0c0;
            --secondary-color: #191970;
            --tertiary-color: #000000;
            --color-block-text: #00bfff;
            --border-radius-std: 15px;
            isolation: isolate;
        }

        #__next {
            isolation: isolate;
        }
    